*.obj
*.o
*.cmx
*.cmi
*.cmxa
*.cmo
*.cmt
*.a
*.exe
.*.swp
/out
/installer

/extra/hxclasses
/extra/*.swf
/extra/*.swc
/extra/bintray.json
/extra/git-archive-all
/extra/deploy_key
/extra/*_sec.gpg
/extra/*_ssh

/src/version.ml
/haxe
/haxelib*
/haxedoc*
/lib

/src/syntax/lexer.ml
/libs/xml-light/xml_lexer.ml
/libs/xml-light/xml_parser.ml
/libs/xml-light/xml_parser.mli
/std/tools/haxedoc/haxedoc
/std/tools/haxedoc/haxedoc.n
/std/tools/haxelib/haxelib
/std/tools/haxelib/haxelib.n
/std/tools/haxelib/index.n

/tests/unit/as3
/tests/unit/cpp
/tests/unit/java
/tests/unit/remoting.n
/tests/unit/runexe.n
/tests/unit/runjava.n
/tests/unit/unit8.swf
/tests/unit/unit9.swf
/tests/unit/unit9_as3.swf
/tests/unit/unit.js
/tests/unit/php
/tests/unit/cs
/tests/unit/cs_unsafe
/tests/unit/dump
/tests/unit/db.db3

/tests/unit/native_java/obj
/tests/unit/native_java/cmd
/tests/unit/native_java/native.jar
/tests/unit/native_cs/obj
/tests/unit/native_cs/cmd
/tests/unit/native_cs/bin
/tests/unit/native_cs/native_cs.csproj
/tests/unit/unit.js.map
/tests/unit/unit.n
/tests/unit/node_modules/

/haxe.sublime*
.idea
build.bat
/.vscode
tests/unit/compile.php.hxml
/extra/*.xml
!/extra/build-haxesetup.xml
tests/optimization/testopt.js
tests/misc/pythonImport/native_python/__pycache__
tests/unit/unit.py
tests/unit/unit.py.res1.txt
tests/unit/unit.py.res2.bin
tests/sys/bin/
/tests/sys/dump/
tests/optimization/dump/
tests/misc/projects/*/*.n
tests/misc/*/*/*.lua
tests/unit/bin/
tests/*.n
tests/misc/projects/Issue3756/cpp/
tests/misc/projects/Issue4070/cpp/

/*.manifest
/tests/misc/eventLoop/cpp
/tests/misc/eventLoop/eventLoop.js
/tests/misc/eventLoop/eventLoop.n
/tests/misc/eventLoop/eventLoop.swf
/tests/misc/eventLoop/dump
/tests/misc/eventLoop/eventLoop.py
/tests/misc/eventLoop/php
*.vscode/

/tests/sys/temp
*.dll
_build/
Makefile.dependencies
Makefile.modules

/tests/unit/compiler_loops/All.n

/tests/unit/compiler_loops/log.txt
tests/benchs/mandelbrot/bin/
tests/server/test/cases/
tests/server/test.js

tests/unit/pypy3-*
