*.obj
*.o
*.cmx
*.cmi
*.cmxa
*.a
*.exe
.*.swp
/out

/extra/hxclasses
/extra/*.swf
/extra/*.swc

/version.ml
/haxe
/haxelib*
/haxedoc*
/lib

/lexer.ml
/libs/xml-light/xml_lexer.ml
/libs/xml-light/xml_parser.ml
/libs/xml-light/xml_parser.mli
/std/tools/haxedoc/haxedoc
/std/tools/haxedoc/haxedoc.n
/std/tools/haxelib/haxelib
/std/tools/haxelib/haxelib.n
/std/tools/haxelib/index.n

/tests/unit/as3
/tests/unit/cpp
/tests/unit/java
/tests/unit/remoting.n
/tests/unit/runexe.n
/tests/unit/runjava.n
/tests/unit/unit8.swf
/tests/unit/unit9.swf
/tests/unit/unit9_as3.swf
/tests/unit/unit.js
/tests/unit/php
/tests/unit/cs
/tests/unit/cs_unsafe
/tests/unit/dump
/tests/unit/db.db3

/tests/unit/native_java/obj
/tests/unit/native_java/cmd
/tests/unit/native_java/native.jar
/tests/unit/native_cs/obj
/tests/unit/native_cs/cmd
/tests/unit/native_cs/bin
/tests/unit/native_cs/native_cs.csproj
/tests/unit/unit.js.map
/tests/unit/unit.n
/tests/unit/node_modules/

/haxe.sublime*
build.bat
tests/unit/compile.php.hxml
/extra/*.xml
tests/optimization/testopt.js
tests/misc/pythonImport/native_python/__pycache__
tests/unit/unit.py
tests/unit/unit.py.res1.txt
tests/unit/unit.py.res2.bin
*.cmo
tests/sys/bin/
tests/optimization/dump/
tests/misc/projects/*/*.n
tests/unit/bin/
tests/*.n
tests/misc/projects/Issue3756/cpp/
tests/misc/projects/Issue4070/cpp/
