language: node_js

before_install:
  - sudo apt-get install python-software-properties -y # for the next command
  - sudo add-apt-repository ppa:eyecreate/haxe -y      # add the ubuntu ppa that contains neko
  - sudo apt-get update                                # pull info from ppa
  - sudo apt-get install neko -y
  - sudo apt-get install ocaml zlib1g-dev -y

script:
  - make
  - make tools
  - sudo make install
  - cd tests/unit/
  - mkdir ~/haxelib && haxelib setup ~/haxelib
  - haxe -version