language: generic

env:
  global:
    # make variables
    - OCAMLC=ocamlc.opt
    - OCAMLOPT=ocamlopt.opt
    - ADD_REVISION=1
    # SauceLabs
    - secure: SjyKefmjUEXi0IKHGGpcbLAajU0mLHONg8aA8LoY7Q9nAkSN6Aql+fzS38Boq7w1jWn+2FOpr+4jy0l6wVd/bftsF+huFfYpFJmdh8BlKmE0K71zZAral0H1c7YxkuQpPiJCIFGXqtkvev7SWTy0z31u7kuuQeEyW27boXe5cDA=
    - secure: sUvWUjCyPuWht4seNa4f2VG9DkvXkhZyLZfjJO9TUAHB2JndS16E2j/qrvKEjycyH6w8tU/B9vnjDRvvGrYXxEXcBEwsJVfkorFnRl9uwGCGIYrzjMhssEl3fMYZK7P304f+gAp5ULrDBX2gIaKeSa8lUNRtz2PsZOieE4kMdhk=
    # Bintray
    - secure: "ETbwZaeRq8wIVZVyUk1IsNctYVuQa/U2biRkF9pQkz3MEXpaneynclVzNjm8rnm8JqfKcjUDUvQJBP1KYrJYq3tAJFhl31YUnS0FsF3sgLIcnHkhbRA24xJdIlCwHP6QUPoiyPbkec43NRwrF0071KOMD51vgUToXRtAe3o/15g="
    - secure: "Fcrrge2f4jFYDOopig2rwkQvgJw6Ra8UK6OwTVk08wecytzVaOJK1TcB22PSvZ+h0ZLJs34T+pXHFjlNuSWm4+CwGSvnltRD1/svjS8zOqK7RzuUdzHz87yruz9PFqV63HTas6qtmgLqp8n/Q6AhtDLF39BTZPyDzEbi9qkwRuI="
    - secure: "VBJDQNJ9uvdt0aszo7oU3txuRvjkuLmuHZGOkrd4wE/5B4sX5jzx/+dnrKcNTXJCmQ/rVLuMu9GyxqVjNHlzce678voxdQNOtNkNgpkr1qN9/A9rRnCp77hH27ErdthpWxbmcnE62hAJ83TIKSvn//5lAkx4sMCKS1NXEWQ5qec="
    # HAXECI_GH_TOKEN: haxe-ci Github personal access token
    - secure: "TpEMYTLgNrVD7kR6hs6EwyWNXUxnfV6XO5MGvYQncKXB1N65PG18n4WQFhnKaH8C2QTFE7dq7688ooXGzwWeoT9WAOBey10jP1f7LXEAjMGAUA4vh2zS93qBZ92ZgzCDZnQN7ZOTQGocwU6Xolu+7/6hP2M8041HBixmFuNkXF4="

sudo: false
addons:
  apt:
    packages: &apt_common
      - ocaml-native-compilers
      - camlp4
      - zlib1g-dev
      - libgc-dev

apt_targets:
  - &apt_cpp    [*apt_common, gcc-multilib, g++-multilib]
  - &apt_cs     [*apt_common, mono-devel, mono-mcs]
  - &apt_python [*apt_common, python3]
  - &apt_flash  [*apt_common, libgd2-xpm, ia32-libs, ia32-libs-multiarch]

matrix:
  include:
    #########
    # linux #
    #########
    - os: linux
      env: TEST=third-party
      language: php
      php: 5.4
      addons: {apt: {packages: [*apt_cpp, *apt_cs, *apt_python]}}
    - os: linux
      env: TEST=macro
      addons: {apt: {packages: [*apt_cs, *apt_python]}}
    - os: linux
      env:
        - TEST=neko
        - BINTRAY=1
    - os: linux
      env:
        - TEST=js
        - SAUCE=1
      addons: {apt: {packages: *apt_common}, sauce_connect: true}
    - os: linux
      env: TEST=php
      language: php
      php: 5.4
    - os: linux
      env: TEST=cpp
      addons: {apt: {packages: *apt_cpp}}
    - os: linux
      env: TEST=flash9
      addons: {apt: {packages: *apt_flash}}
    - os: linux
      env: TEST=as3
      addons: {apt: {packages: *apt_flash}}
    - os: linux
      env: TEST=java
    - os: linux
      env: TEST=cs
      addons: {apt: {packages: *apt_cs}}
    - os: linux
      env: TEST=python
      addons: {apt: {packages: *apt_python}}

    #######
    # osx #
    #######
    - os: osx
      env: TEST=third-party
    - os: osx
      env: TEST=macro
    - os: osx
      env:
        - TEST=neko
        - BINTRAY=1
    - os: osx
      env: TEST=js
    - os: osx
      env: TEST=php
    - os: osx
      env: TEST=cpp
    - os: osx
      env: TEST=flash9
    - os: osx
      env: TEST=as3
    - os: osx
      env: TEST=java
    - os: osx
      env: TEST=cs
    - os: osx
      env: TEST=python

install:
  # Install haxe and neko dependencies
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
    travis_retry brew update;
    travis_retry brew install ocaml camlp4;
    fi
  # Install neko
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      travis_retry git clone https://github.com/HaxeFoundation/neko.git ~/neko;
      cd ~/neko;
      make os=${TRAVIS_OS_NAME} -s;
      export PATH="$PATH:$HOME/neko/bin";
      export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/neko/bin";
      export NEKOPATH="$HOME/neko/bin";
      cd $TRAVIS_BUILD_DIR;
    elif [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      travis_retry brew install neko --HEAD;
    fi

before_script:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
    travis_retry brew install mysql &&
    mysql.server start;
    mysql -u root -e "create user if not exists travis@localhost identified by '';";
    fi
  - mysql -u root -e "CREATE DATABASE haxe_test;"
  - mysql -u root -e "grant all on haxe_test.* to travis@localhost;"

script:
  - make package_src -s
  - make -s
  - make tools -s
  - make package_bin -s
  - export PATH="$PATH:$TRAVIS_BUILD_DIR"
  - export HAXE_STD_PATH="$TRAVIS_BUILD_DIR/std"
  - cd tests/
  - mkdir ~/haxelib && haxelib setup ~/haxelib
  - haxe -version
  - haxe RunCi.hxml
  - neko RunCi.n
  - cd $TRAVIS_BUILD_DIR

branches:
  except:
    # A hack to prevent building for tags, assuming they all start with a number.
    # https://github.com/travis-ci/travis-ci/issues/1532
    - /^[0-9]/

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/95a5fa471c27beee8e7c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

deploy:
  provider: bintray
  on:
    all_branches: true
    condition: "-e extra/bintray.json"
  skip_cleanup: true
  file: "extra/bintray.json"
  user: "${BINTRAY_USERNAME}"
  key: "${BINTRAY_API_KEY}"
