env:
  global:
    # make variables
    - OCAMLC=ocamlc.opt
    - OCAMLOPT=ocamlopt.opt
    - ADD_REVISION=1
    # SauceLabs
    - secure: SjyKefmjUEXi0IKHGGpcbLAajU0mLHONg8aA8LoY7Q9nAkSN6Aql+fzS38Boq7w1jWn+2FOpr+4jy0l6wVd/bftsF+huFfYpFJmdh8BlKmE0K71zZAral0H1c7YxkuQpPiJCIFGXqtkvev7SWTy0z31u7kuuQeEyW27boXe5cDA=
    - secure: sUvWUjCyPuWht4seNa4f2VG9DkvXkhZyLZfjJO9TUAHB2JndS16E2j/qrvKEjycyH6w8tU/B9vnjDRvvGrYXxEXcBEwsJVfkorFnRl9uwGCGIYrzjMhssEl3fMYZK7P304f+gAp5ULrDBX2gIaKeSa8lUNRtz2PsZOieE4kMdhk=
    # Bintray
    # - secure: "ETbwZaeRq8wIVZVyUk1IsNctYVuQa/U2biRkF9pQkz3MEXpaneynclVzNjm8rnm8JqfKcjUDUvQJBP1KYrJYq3tAJFhl31YUnS0FsF3sgLIcnHkhbRA24xJdIlCwHP6QUPoiyPbkec43NRwrF0071KOMD51vgUToXRtAe3o/15g="
    # - secure: "Fcrrge2f4jFYDOopig2rwkQvgJw6Ra8UK6OwTVk08wecytzVaOJK1TcB22PSvZ+h0ZLJs34T+pXHFjlNuSWm4+CwGSvnltRD1/svjS8zOqK7RzuUdzHz87yruz9PFqV63HTas6qtmgLqp8n/Q6AhtDLF39BTZPyDzEbi9qkwRuI="
    # - secure: "VBJDQNJ9uvdt0aszo7oU3txuRvjkuLmuHZGOkrd4wE/5B4sX5jzx/+dnrKcNTXJCmQ/rVLuMu9GyxqVjNHlzce678voxdQNOtNkNgpkr1qN9/A9rRnCp77hH27ErdthpWxbmcnE62hAJ83TIKSvn//5lAkx4sMCKS1NXEWQ5qec="
    # PPA configs
    - PPA="ppa:haxe/snapshots"
    - DEBFULLNAME="Haxe CI Bot"
    - DEBEMAIL="haxe-ci@onthewings.net"
    # lua specific versions
    - LUAROCKS=2.3.0
    - LUA=lua5.2

sudo: required
dist: trusty
addons: &addons
  ssh_known_hosts:
    - haxe.org
    - api.haxe.org

install_linux: &install_linux
  # Install neko and haxe dependencies
  - sudo apt-get install -y
      ocaml-native-compilers
      camlp4
      pkg-config
      libgc-dev
      libssl-dev
      libpcre3-dev
      zlib1g-dev
      apache2-dev
      libmysqlclient-dev
      libsqlite3-dev
      libgtk2.0-dev
  # Install neko
  - travis_retry git clone https://github.com/HaxeFoundation/neko.git ~/neko
  - pushd ~/neko
  - cmake -DSTATIC_DEPS=MbedTLS
  - make
  - sudo make install
  - popd
  # Setup database
  - travis_retry sudo apt-get install mysql-server -y
  - mysql -u root -e "create user travis@localhost identified by '';"
  - mysql -u root -e "create database haxe_test;"
  - mysql -u root -e "grant all on haxe_test.* to travis@localhost;"
  # Build haxe
  - make package_src -s
  - make -s
  - make package_bin -s
  - export PATH="$PATH:$TRAVIS_BUILD_DIR"
  - export HAXE_STD_PATH="$TRAVIS_BUILD_DIR/std"

install_osx: &install_osx
  # Install haxe dependencies
  - travis_retry brew update
  - travis_retry brew install ocaml camlp4;
  # Install neko
  - travis_retry brew install neko --HEAD;
  # Setup database
  - travis_retry brew install mysql
  - mysql.server start
  - mysql -u root -e "create user if not exists travis@localhost identified by '';"
  - mysql -u root -e "create database haxe_test;"
  - mysql -u root -e "grant all on haxe_test.* to travis@localhost;"
  # Build haxe
  - make package_src -s
  - make -s
  - make package_bin -s
  - export PATH="$PATH:$TRAVIS_BUILD_DIR"
  - export HAXE_STD_PATH="$TRAVIS_BUILD_DIR/std"

matrix:
  include:
    #########
    # linux #
    #########
    - os: linux
      env:
        - TEST=macro,neko,js,php,flash9,as3,java,cs,python,hl,lua
        - DEPLOY=1
        - SAUCE=1
        # haxeci_decrypt (Deploy source package to ppa:haxe/snapshots.)
        - secure: "Mw3p6bDZuqVQ6u7GrwLQfje5hhIOA4+mdqqLXYHP79UKdhgqb91Dn6IbG9vQ1VXVe64W4YZbQAMBMMRX5kEPDl6JvTVGSBhg00Mi69oO5qrCMcBI6f9FntG72YaVvLf+PA7co+vKrnJzaP2M9pe4SH9Ztbhy0YNxULp7NQ8FLsM="
        # deploy_key_decrypt (Deploy doc to api.haxe.org.)
        - secure: "A75uYqU0Xz6plIgSewEs0QQWe472dCMb9kf3j7Hx0DS7dApXgx8++189sw9Sv0wam5KPtbcIM292MucjGCb5zocVj9xCUVgajhEA0QpTuDMBjk/cg3ClWCGjfybaCl2E5LLdUs7Zy4b4oNWtVikOWLWJ4sC1kaarR9p6kv8yYZg="
      addons:
        <<: *addons
        sauce_connect: true
      before_install:
        - sudo dpkg --add-architecture i386
        - sudo apt-get update -y || true
        - travis_retry sudo apt-get install -y
            libcurl3:i386
            libglib2.0-0:i386
            libx11-6:i386
            libxext6:i386
            libxt6:i386
            libxcursor1:i386
            libnss3:i386
            libgtk2.0-0:i386
        - "export DISPLAY=:99.0"
        - "sh -e /etc/init.d/xvfb start"
        - "export AUDIODEV=null"
      install: *install_linux

    - os: linux
      env:
        - TEST=cpp
      before_install:
        - sudo apt-get update -y || true
        - travis_retry sudo apt-get install -y
            gcc-multilib
            g++-multilib
      install: *install_linux

    #######
    # osx #
    #######
    - os: osx
      env:
        - TEST=macro,neko,js,php,flash9,as3,java,cs,python,hl,lua
        - DEPLOY=1
      install: *install_osx

    - os: osx
      env:
        - TEST=cpp
      install: *install_osx

script:
  - eval `ssh-agent -s` # for deployment to haxe.org
  - pushd tests
  -   mkdir ~/haxelib && haxelib setup ~/haxelib
  -   haxe -version
  -   haxe RunCi.hxml
  -   neko RunCi.n
  - popd

branches:
  except:
    # A hack to prevent building for tags, assuming they all start with a number.
    # https://github.com/travis-ci/travis-ci/issues/1532
    - /^[0-9]/

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/95a5fa471c27beee8e7c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
