version: "{build}"

environment:
    global:
        HAXELIB_ROOT: C:/projects/haxelib
        CYG_ROOT: C:/cygwin64
        ADD_REVISION: 1
        MYSQL_PATH: C:\Program Files\MySQL\MySQL Server 5.7
        MYSQL_USER: root
        MYSQL_PASSWORD: Password12!
        HXBUILDS_AWS_ACCESS_KEY_ID:
          secure: fggQXlr5xGGl0znUi0UkqPWd6LviHnk0TR6YxJmuV3U=
        HXBUILDS_AWS_SECRET_ACCESS_KEY:
          secure: ewwkKcjnSKl/Vtrz1SXmI6XKk1ENmJDyzm5YaR2wi03foRhTke29TvymB21rDTSl
    matrix:
        - ARCH: 64
          TEST: "neko,python,cs,java,php,macro"
          DEPLOY_NIGHTLIES: 1
        - ARCH: 64
          TEST: "cpp"
        - ARCH: 32
          TEST: "macro"
          DEPLOY_NIGHTLIES: 1

cache:
    - opam.tar.xz -> appveyor.yml

install:
    - 'git submodule update --init --recursive'
    - '%CYG_ROOT%/bin/bash -lc "echo initialize"'
    # http://help.appveyor.com/discussions/problems/5616-not-able-to-build-due-to-problem-in-chocolateyinstallps1
    - ps: Set-Service wuauserv -StartupType Manual
    - choco install curl nsis.portable wget awscli -y
    # Install neko
    - choco install neko --prerelease --ignore-dependencies -s 'https://ci.appveyor.com/nuget/neko' -y
    # Install ocaml
    - curl -fsSL -o cygwin-setup.exe --retry 3 https://cygwin.com/setup-x86_64.exe
    - 'cygwin-setup.exe -g -q -R "%CYG_ROOT%" -P make -P git -P zlib-devel -P mingw64-x86_64-zlib -P mingw64-i686-zlib -P rsync -P patch -P diffutils -P curl -P unzip -P m4 -P perl -P mingw64-x86_64-gcc-core -P mingw64-i686-gcc-core -P libpcre-devel -P mingw64-x86_64-pcre -P mingw64-i686-pcre'
    - if not exist "opam.tar.xz" (
        curl -fsSL -o "opam.tar.xz" --retry 3 https://github.com/fdopen/opam-repository-mingw/releases/download/0.0.0.1/opam%ARCH%.tar.xz
      )
    - 7z x "opam.tar.xz" -so | 7z x -aoa -si -ttar
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && bash opam${ARCH}/install.sh"'
    - '%CYG_ROOT%/bin/bash -lc "opam init mingw \"https://github.com/fdopen/opam-repository-mingw.git\" --comp 4.02.3+mingw${ARCH}c --switch 4.02.3+mingw${ARCH}c --auto-setup --yes"'
    - '%CYG_ROOT%/bin/bash -lc "opam update --yes"'
    - '%CYG_ROOT%/bin/bash -lc "opam pin add conf-neko https://raw.githubusercontent.com/ocaml/opam-repository/master/packages/conf-neko/conf-neko.1/opam --no-action --yes"'
    - '%CYG_ROOT%/bin/bash -lc "opam pin add haxe \"$APPVEYOR_BUILD_FOLDER\" --no-action --yes"'
    - '%CYG_ROOT%/bin/bash -lc "opam install haxe --deps-only --yes"'
    # Install php
    - choco install php --version 7.2.0 -y
    - echo extension=php_openssl.dll >> C:\tools\php72\php.ini
    - RefreshEnv
    # setup python
    - cmd: mklink C:\Python34-x64\python3.exe C:\Python34-x64\python.exe
    - set PATH=%PATH%;C:\Python34-x64
    # expose the dll files
    - if "%ARCH%" EQU "32" (
        set "PATH=%CYG_ROOT%/usr/i686-w64-mingw32/sys-root/mingw/bin;%PATH%"
      ) else (
        set "PATH=%CYG_ROOT%/usr/x86_64-w64-mingw32/sys-root/mingw/bin;%PATH%"
      )
    - neko -version

build_script:
    - 'cd %APPVEYOR_BUILD_FOLDER%'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && make -s -f Makefile.win libs && make -j -s -f Makefile.win haxe && make -s -f Makefile.win haxelib"'
    - 'set PATH=%PATH%;%APPVEYOR_BUILD_FOLDER%'
    - 'set HAXEPATH=%APPVEYOR_BUILD_FOLDER%'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && cygcheck haxe.exe"'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && cygcheck haxelib.exe"'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && make -s -f Makefile.win package_bin"'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && make -s -f Makefile.win package_choco"'
    - move out\haxe.*.nupkg .
    - dir %APPVEYOR_BUILD_FOLDER%\out
    - cd %APPVEYOR_BUILD_FOLDER%/tests/
    - mkdir "%HAXELIB_ROOT%"
    - haxelib setup "%HAXELIB_ROOT%"

test_script:
    - cd %APPVEYOR_BUILD_FOLDER%/tests/
    - haxe -version
    - haxe RunCi.hxml

artifacts:
    - path: 'out/*.zip'
    - path: '*.nupkg'
