platform:
    - x64

clone_folder: C:/projects/haxe

environment:
    global:
        CYG_MIRROR: http://cygwin.uib.no
        CYG_CACHE: C:/cygwin/var/cache/setup
        NEKO_ROOT: C:/projects/neko
    matrix:
        -   CYG_ARCH: x86
            CYG_ROOT: C:/cygwin
            WODI_ARCH: 32
            MINGW_ARCH: i686
        # -   CYG_ARCH: x86_64
        #     CYG_ROOT: C:/cygwin64
        #     WODI_ARCH: 64
        #     MINGW_ARCH: x86_64

init:
    - 'echo System architecture: %PLATFORM%'

install:
    - 'git submodule update --init --recursive'
    # Install ocaml using wodi
    - 'appveyor DownloadFile http://cygwin.com/setup-%CYG_ARCH%.exe -FileName cygwin-setup.exe'
    - 'cygwin-setup.exe -qnNdO -R "%CYG_ROOT%" -s "%CYG_MIRROR%" -l "%CYG_CACHE%" -P wget -P dos2unix -P diffutils -P cpio -P make -P patch -P mingw64-%MINGW_ARCH%-gcc-core -P mingw64-%MINGW_ARCH%-gcc-g++ >NUL'
    - '%CYG_ROOT%/bin/bash -lc "cygcheck -dc cygwin"'
    - '%CYG_ROOT%/bin/bash -lc "wget -q http://ml.ignorelist.com/wodi/8/wodi%WODI_ARCH%.tar.xz -O /tmp/wodi%WODI_ARCH%.tar.xz"'
    - '%CYG_ROOT%/bin/bash -lc "cd /tmp && rm -rf wodi%WODI_ARCH% && tar -xf wodi%WODI_ARCH%.tar.xz && bash wodi%WODI_ARCH%/install.sh"'
    - '%CYG_ROOT%/bin/bash -lc "godi_add godi-zip"'
    - 'set PATH=%PATH%;%CYG_ROOT%/opt/wodi%WODI_ARCH%/bin'
    # Install neko
    - 'git clone --recursive -b win https://github.com/andyli/neko.git %NEKO_ROOT%'
    - 'cd %NEKO_ROOT%'
    - 'msbuild neko_vc10.sln'
    - 'cd libs/std'
    - 'msbuild std2_vc10.sln'
    - 'cd %NEKO_ROOT%'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && make compiler libs"'
    - 'set PATH=%PATH%;%NEKO_ROOT%/bin'
    - 'neko -version'

build_script:
    - 'cd %APPVEYOR_BUILD_FOLDER%'
    - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && make -f Makefile.win WODI=wodi%WODI_ARCH%"'
    # - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && cd tests haxe RunAppveyor.n -main RunAppveyor -lib hx-yaml"'

test_script:
    - 'haxe -version'
    - 'cd tests\unit'
    - 'haxe compile-macro.hxml'
