variables:
  - group: variables-haxe
  - name: AZURE_PIPELINES_REPO_URL
    value: $(Build.Repository.Uri)
  - name: AZURE_PIPELINES_BRANCH
    value: $(Build.SourceBranchName)

stages:
  - stage: BuildAndTest
    jobs:
      - template: extra/azure-pipelines/build-linux.yml
        parameters:
          name: BuildLinux

      - template: extra/azure-pipelines/build-mac.yml
        parameters:
          name: BuildMac

      - template: extra/azure-pipelines/build-windows.yml
        parameters:
          name: BuildWindows64
          arch: '64'

      - template: extra/azure-pipelines/build-windows.yml
        parameters:
          name: BuildWindows32
          arch: '32'

      - job: TestLinux
        dependsOn: BuildLinux
        pool:
          vmImage: 'ubuntu-16.04'
        strategy:
          matrix:
            macro:
              TEST: macro
            neko:
              TEST: neko
            hl:
              TEST: hl
              APT_PACKAGES: cmake ninja-build
            cpp:
              TEST: cpp
              HXCPP_COMPILE_CACHE: ~/hxcache
              APT_PACKAGES: gcc-multilib g++-multilib
            java:
              TEST: java,jvm
            cs:
              TEST: cs
            js:
              TEST: js
              SAUCE: 1
              SAUCE_TUNNEL_ID: $(Agent.JobName)
              SAUCE_BUILD: $(Build.BuildNumber)
            php:
              TEST: php
            flash:
              TEST: flash9,as3
              APT_PACKAGES: libglib2.0 libfreetype6 xvfb
              DISPLAY: ':99.0'
              AUDIODEV: 'null'
            python:
              TEST: python
            lua:
              TEST: lua
        steps:
          - script: |
              set -ex
              sudo add-apt-repository -y ppa:haxe/snapshots
              sudo apt-get update -qqy
              sudo apt-get install -qqy neko
            displayName: Setup Neko
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'linuxBinaries'
              targetPath: linuxBinaries
          - script: |
              set -ex
              tar -xf linuxBinaries/*_bin.tar.gz -C linuxBinaries --strip-components=1
              sudo mkdir -p /usr/local/bin/
              sudo mkdir -p /usr/local/share/haxe/
              sudo ln -s `pwd`/linuxBinaries/haxe /usr/local/bin/haxe
              sudo ln -s `pwd`/linuxBinaries/haxelib /usr/local/bin/haxelib
              sudo ln -s `pwd`/linuxBinaries/std /usr/local/share/haxe/std
            displayName: Setup Haxe
          - script: haxe -version
            displayName: Print Haxe version
          - script: |
              set -ex
              mkdir ~/haxelib
              haxelib setup ~/haxelib
            displayName: Setup haxelib
          - script: |
              set -ex
              sudo apt update -qqy
              sudo apt install -qqy $APT_PACKAGES
            condition: and(succeeded(), variables['APT_PACKAGES'])
            displayName: Install apt packages
          - script: haxe RunCi.hxml
            workingDirectory: $(Build.SourcesDirectory)/tests
            env:
              SAUCE_USERNAME: $(SAUCE_USERNAME)
              SAUCE_ACCESS_KEY: $(SAUCE_ACCESS_KEY)
            displayName: Test

      - job: TestMac
        dependsOn: BuildMac
        pool:
          vmImage: 'macOS-10.13'
        strategy:
          matrix:
            macro:
              TEST: macro
            neko:
              TEST: neko
            hl:
              TEST: hl
              BREW_PACKAGES: ninja
            cpp:
              TEST: cpp
              HXCPP_COMPILE_CACHE: ~/hxcache
            java:
              TEST: java,jvm
            cs:
              TEST: cs
            js:
              TEST: js
            php:
              TEST: php
            flash:
              TEST: flash9,as3
            python:
              TEST: python
            lua:
              TEST: lua
        steps:
          - script: |
              set -ex
              brew update
              brew install neko --HEAD
            displayName: Setup Neko
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'macBinaries'
              targetPath: macBinaries
          - script: |
              set -ex
              tar -xf macBinaries/*_bin.tar.gz -C macBinaries --strip-components=1
              sudo mkdir -p /usr/local/bin/
              sudo mkdir -p /usr/local/share/haxe/
              sudo ln -s `pwd`/macBinaries/haxe /usr/local/bin/haxe
              sudo ln -s `pwd`/macBinaries/haxelib /usr/local/bin/haxelib
              sudo ln -s `pwd`/macBinaries/std /usr/local/share/haxe/std
            displayName: Setup Haxe
          - script: haxe -version
            displayName: Print Haxe version
          - script: |
              set -ex
              mkdir ~/haxelib
              haxelib setup ~/haxelib
            displayName: Setup haxelib
          - script: brew install $BREW_PACKAGES
            condition: and(succeeded(), variables['BREW_PACKAGES'])
            displayName: Install homebrew packages
          - script: haxe RunCi.hxml
            workingDirectory: $(Build.SourcesDirectory)/tests
            displayName: Test

      - job: TestWindows64
        dependsOn: BuildWindows64
        pool:
          vmImage: 'windows-2019'
        variables:
          HAXELIB_ROOT: C:/haxelib
          HAXE_ARCH: 64
        strategy:
          matrix:
            macro:
              TEST: macro
            neko:
              TEST: neko
            hl:
              TEST: hl
            cpp:
              TEST: cpp
              HXCPP_COMPILE_CACHE: C:/hxcache
            java:
              TEST: java,jvm
            cs:
              TEST: cs
            js:
              TEST: js
            # https://github.com/microsoft/azure-pipelines-image-generation/issues/990
            # php:
            #   TEST: php
            # TODO. flash has never been enabled on our AppVeyor builds.
            # flash:
            #   TEST: flash9,as3
            python:
              TEST: python
            # TODO. Lua has never been enabled on our AppVeyor builds.
            # lua:
            #   TEST: lua
        steps:
          - powershell: |
              Set-PSDebug -Trace 1
              choco install neko --prerelease --ignore-dependencies -s 'https://ci.appveyor.com/nuget/neko' -y
              Set-PSDebug -Trace 0
              Write-Host "##vso[task.setvariable variable=NEKOPATH]C:/ProgramData/chocolatey/lib/neko"
            displayName: Setup Neko
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'win64Binaries'
              targetPath: win64Binaries
          - powershell: |
              Set-PSDebug -Trace 1
              7z x win64Binaries/*_bin.zip -owin64Binaries
              $dir = Get-ChildItem win64Binaries/* -Name -Directory
              Rename-Item win64Binaries/$dir haxe
              $dir = '' + ( get-location ) + '\win64Binaries\haxe'
              dir $dir
              Set-PSDebug -Trace 0
              Write-Host "##vso[task.prependpath]$dir"
            displayName: Setup Haxe
          - script: haxe -version
            displayName: Print Haxe version
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.7'
          - powershell: |
              Set-PSDebug -Trace 1
              $pypath = python -c "import sys; print(sys.executable)"
              $py3path = $pypath.replace("python.exe","python3.exe")
              cmd /c mklink $py3path $pypath
              python3 -V
            displayName: "Make Python 3 be available as python3 in the cmdline"
          - script: |
              mkdir "$(HAXELIB_ROOT)"
              haxelib setup "$(HAXELIB_ROOT)"
            displayName: Setup haxelib
          - script: haxe RunCi.hxml
            workingDirectory: $(Build.SourcesDirectory)/tests
            displayName: Test
  - stage: Deploy
    condition: and(succeeded(), not(variables['System.PullRequest.PullRequestId']))
    jobs:
      - job: S3
        condition: and(succeeded(), variables['AWS_ACCESS_KEY_ID'], variables['S3_HXBUILDS_ADDR'])
        pool:
          vmImage: 'ubuntu-16.04'
        steps:
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'linuxBinaries'
              targetPath: linuxBinaries
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'macBinaries'
              targetPath: macBinaries
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'win64Binaries'
              targetPath: win64Binaries
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'win32Binaries'
              targetPath: win32Binaries
          - script: |
              set -ex
              sudo add-apt-repository -y ppa:haxe/snapshots
              sudo apt-get update -qqy
              sudo apt-get install -qqy neko
            displayName: Setup Neko
          - script: |
              set -ex
              tar -xf linuxBinaries/*_bin.tar.gz -C linuxBinaries --strip-components=1
              sudo mkdir -p /usr/local/bin/
              sudo mkdir -p /usr/local/share/haxe/
              sudo ln -s `pwd`/linuxBinaries/haxe /usr/local/bin/haxe
              sudo ln -s `pwd`/linuxBinaries/haxelib /usr/local/bin/haxelib
              sudo ln -s `pwd`/linuxBinaries/std /usr/local/share/haxe/std
            displayName: Setup Haxe
          - script: |
              set -ex
              sudo apt-get update -qqy
              sudo apt-get install -qqy awscli
            displayName: "Install awscli"
          - script: |
              set -ex
              aws s3 cp linuxBinaries/*_bin.tar.gz      $(S3_HXBUILDS_ADDR)/linux64/             --dryrun
              aws s3 cp macBinaries/*_bin.tar.gz        $(S3_HXBUILDS_ADDR)/mac/                 --dryrun
              aws s3 cp win64Binaries/*_bin.zip         $(S3_HXBUILDS_ADDR)/windows64/           --dryrun
              aws s3 cp win64Binaries/*_installer.zip   $(S3_HXBUILDS_ADDR)/windows64-installer/ --dryrun
              aws s3 cp win32Binaries/*_bin.zip         $(S3_HXBUILDS_ADDR)/windows/             --dryrun
              aws s3 cp win32Binaries/*_installer.zip   $(S3_HXBUILDS_ADDR)/windows-installer/   --dryrun
            env:
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
            displayName: Upload binaries
          - script: |
              set -ex
              aws s3 cp linuxBinaries/*_bin.tar.gz      $(S3_HXBUILDS_ADDR)/linux64/haxe_latest.tar.gz          --dryrun
              aws s3 cp macBinaries/*_bin.tar.gz        $(S3_HXBUILDS_ADDR)/mac/haxe_latest.tar.gz              --dryrun
              aws s3 cp win64Binaries/*_bin.zip         $(S3_HXBUILDS_ADDR)/windows64/haxe_latest.zip           --dryrun
              aws s3 cp win64Binaries/*_installer.zip   $(S3_HXBUILDS_ADDR)/windows64-installer/haxe_latest.zip --dryrun
              aws s3 cp win32Binaries/*_bin.zip         $(S3_HXBUILDS_ADDR)/windows/haxe_latest.zip             --dryrun
              aws s3 cp win32Binaries/*_installer.zip   $(S3_HXBUILDS_ADDR)/windows-installer/haxe_latest.zip   --dryrun
            env:
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
            condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'development'))
            displayName: Update "latest"
          - script: |
              set -ex
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/linux64
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/linux64/              --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/mac
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/mac/                  --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/windows64
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/windows64/            --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/windows64-installer
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/windows64-installer/  --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/windows
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/windows/              --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)/windows-installer
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/windows-installer/    --dryrun
              haxe --run runci.Indexer $(S3_HXBUILDS_ADDR)
              aws s3 cp index.html     $(S3_HXBUILDS_ADDR)/                      --dryrun
            workingDirectory: $(Build.SourcesDirectory)/tests
            env:
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
            displayName: Update indices
      - job: ApiHaxeOrg
        condition: and(succeeded(), variables['GHP_USERNAME'], variables['GHP_EMAIL'])
        pool:
          vmImage: 'ubuntu-16.04'
        steps:
          - checkout: none
          - script: |
              set -ex
              sudo add-apt-repository -y ppa:haxe/snapshots
              sudo apt-get update -qqy
              sudo apt-get install -qqy neko
            displayName: Setup Neko
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'linuxBinaries'
              targetPath: linuxBinaries
          - script: |
              set -ex
              tar -xf linuxBinaries/*_bin.tar.gz -C linuxBinaries --strip-components=1
              sudo mkdir -p /usr/local/bin/
              sudo mkdir -p /usr/local/share/haxe/
              sudo ln -s `pwd`/linuxBinaries/haxe /usr/local/bin/haxe
              sudo ln -s `pwd`/linuxBinaries/haxelib /usr/local/bin/haxelib
              sudo ln -s `pwd`/linuxBinaries/std /usr/local/share/haxe/std
            displayName: Setup Haxe
          - task: DownloadPipelineArtifact@0
            inputs:
              artifactName: 'xmldoc'
              targetPath: xmldoc
          - script: |
              set -ex
              LOCAL="`pwd`/extra/api.haxe.org"
              git clone "${GHP_REMOTE}" "${LOCAL}"
              haxe --cwd "${LOCAL}" --run ImportXml "`pwd`/xmldoc"
            env:
              GHP_REMOTE: $(GHP_REMOTE)
            displayName: Deploy to api.haxe.org