/* ----------- colors ------------ */

body {
	background-color : #705200;
}

.content {
	background-color : white;
}

h1, h2 {
	color : #fff;
	background-color : #fb0;
}

a {
	color : #fb0;	
}

a:hover {
	color: #ea0;
}

b , strong {
	color: #705200;
}

/* ----------- style ------------ */

body {
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
	padding : 0;
	margin : 0;
}

.content {
	width : 800px;
	position: relative;
	margin : 10 auto 30 auto;
	text-align: left;
}

.menu {
	text-align: right;
}

h1 {
	margin-top : 0px;
	text-align: center;
	padding: 4px 0px 4px 0px;
}

h2 {
	padding: 2px 0px 2px 20px;
	margin-top : 30px;
}

h2.end {
	margin-bottom : 0px;
}

p, li {
	margin-left : 20px;
	margin-right : 15px;
	text-align : justify;
}

ul.big li {
	margin-bottom : 10px;
}

a {
	font-weight: bold;
}

#scroll {
	position : absolute;
	top : 0;
	bottom : -0.1px;
	width : 1em;
	z-index : -1;
}

/* ----------- code ------------ */

pre {
	margin : 0px 20px 0px 20px;
	padding : 5px;
	background-color: #eee;
	border: solid 1px #ccc;
}

k {
	color: blue;
}

t {
	font-weight: bold;
	color : #700;
}

g {
	color : #070;
}

c {
	color : #333;
	font-family: monospace;
}

